body {
    background-image: url(./images/BGP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure background covers entire viewport */
}

#title {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem; /* Increase font size for better visibility */
}

.choice {
    height: 25vw; /* Increase the size of the choices */
    width: 25vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem; /* Adjust margin */
}

.choice:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    font-weight: 400;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem; /* Increase margin */
}

#msg {
    background-color: black;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

p {
    background-color: black;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
}

footer {
    color: black;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
}
