body {
    background-image: url(./images/BGP.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    background-color: #081b31;
    color: #fff;
    height: 5vw; /* Adjust based on your preference */
    line-height: 5vw; /* Adjust based on your preference */
    font-size: 3vw; /* Adjust based on your preference */
}

.choice {
    height: 25vw; /* Adjust based on your preference */
    width: 25vw; /* Adjust based on your preference */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw; /* Adjust based on your preference */
}

.choice:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.7;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw; /* Adjust based on your preference */
    margin-top: 10vh; /* Adjust based on your preference */
}

.score-board {
    display: flex;
    justify-content: center;
    font-size: 3vw; /* Adjust based on your preference */
    margin-top: 5vh; /* Adjust based on your preference */
    gap: 5vw; /* Adjust based on your preference */
    font-weight: 400;
}

#user-score,
#comp-score {
    font-size: 5vw; /* Adjust based on your preference */
}

.msg-container {
    margin-top: 5vh; /* Adjust based on your preference */
}

#msg {
    background-color: black;
    color: #fff;
    font-size: 2vw; /* Adjust based on your preference */
    display: inline;
    padding: 2vw; /* Adjust based on your preference */
    border-radius: 2vw; /* Adjust based on your preference */
}

p {
    background-color: black;
    color: #fff;
    padding: 2vw; /* Adjust based on your preference */
    border-radius: 2vw; /* Adjust based on your preference */
}

footer {
    color: black;
    text-align: center;
    padding: 5vw; /* Adjust based on your preference */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh; /* Adjust based on your preference */
}
